{{#extends "base"}}
{{#block "content"}}

<h1>Add New Product Variant</h1>
<tr>
    <td>{{variant.id}}</td>
    <td>{{variant.color_name}}</td>
    <td>{{variant.color_code}}</td>
    <td><img src="{{variant.variant_thumbnail_url}}" /></td>
</tr>
<form method="POST">
    {{{form}}}
    <input type="submit" class="btn btn-primary btn-sm mt-2" />
    {{> csrf}}
</form>
{{/block}}

{{#block 'js'}}
{{/block}}

{{/extends}}