{{#extends "base"}}
{{#block "content"}}
<h1>{{product.product}}</h1>
<div>
    <img src="{{this.product.product_image_url}}" style="width:300px" />
</div>
<div class="mt-2">
    <h4>Description: </h4>
    <p>{{product.description}}</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Gender</th>
            <th>Activity</th>
            <th>Blend</th>
            <th>Micron</th>
            <th>Fit</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>{{product.id}}</td>
            <td>{{moment product.created_date format="YYYY-MM-DD"}}</td>
            <td>{{product.brand.brand}}</td>
            <td>{{product.category.category}}</td>
            <td>{{product.gender.gender}}</td>
            <td>{{product.activity.activity}}</td>
            <td>{{product.blend.blend}}</td>
            <td>{{product.micron.micron}}</td>
            <td>{{product.fit.fit}}</td>
            <td>${{divide product.cost 100}}</td>
        </tr>
    </thead>
</table>

<div>
    <h4>Color Variants:</h4>
</div>
<a href="/products/{{product.id}}/create-variant" class="btn my-btn btn-sm">Add New Color Variant</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Color Name</th>
            <th>Color Code</th>
            <th>Image</th>
            <th>Stock</th>
            <th>Sold</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {{#each variants}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.color_name}}</td>
            <td>{{this.color_code}}</td>
            <td><img src="{{this.variant_thumbnail_url}}" /></td>
            <td>{{this.stock}}</td>
            <td>{{this.sold}}</td>
            <td><a href="/products/{{../product.id}}/update-variant/{{this.id}}" class="btn my-btn btn-sm me-2">Update</a>
            <a href="/products/{{../product.id}}/variants/{{this.id}}" class="btn my-btn btn-sm me-2">See Product Variants</a>
            <a href="#" class="btn btn-sm btn-danger btn-delete" data-name="{{../product.product}}, {{this.color_name}}" data-variant-id="{{this.id}}" data-product-id="{{../product.id}}">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}

{{#block 'js'}}
{{> sweetAlertJs deleteTarget='variant'}}
{{/block}}

{{/extends}}