{{#extends "base"}}
{{#block "content"}}
<div class="container">
    <h1>Update Variant</h1>
    <h2>{{product.product}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Created</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Gender</th>
                <th>Activity</th>
                <th>Blend</th>
                <th>Micron</th>
                <th>Fit</th>
                <th>Cost</th>
                <th>Image</th>
            </tr>
            <tr>
                <td>{{product.id}}</td>
                <td>{{moment product.created_date format="YYYY-MM-DD"}}</td>
                <td>{{product.brand.brand}}</td>
                <td>{{product.category.category}}</td>
                <td>{{product.gender.gender}}</td>
                <td>{{product.activity.activity}}</td>
                <td>{{product.blend.blend}}</td>
                <td>{{product.micron.micron}}</td>
                <td>{{product.fit.fit}}</td>
                <td>${{divide product.cost 100}}</td>
                <td><img src="{{product.product_thumbnail_url}}"></td>
            </tr>
        </thead>
    </table>
    <form method="POST">
        {{{form}}}
        {{!-- cloudinary --}}
        <div>
            {{#if variant.variant_image_url}}
            <img src="{{variant.variant_image_url}}" id="uploaded_image" class="mt-3" style="width: 600px" />
            <div>
                <a href="#" class="btn my-btn btn-sm mt-2" id="upload_widget">Change Image</a>
            </div>

            {{else}}
            <img src="" style="display:none" id="uploaded_image" />
            <div>
                <a href="#" class="btn my-btn btn-sm mt-2" id="upload_widget">Upload</a>
            </div>

            {{/if}}
        </div>
        <input type="submit" value="Update Variant" class="btn my-btn btn-sm mt-2" />
        {{> csrf}}
    </form>
</div>
{{/block}}

{{#block 'js'}}
{{>cloudinaryJs imageId='#id_variant_image_url' thumbnailId='#id_variant_thumbnail_url'}}
{{/block}}

{{/extends}}